p{
    margin: 0px;
}

.card-cont{
    width: 100%;
    border: 1px solid rgb(214, 213, 213);
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: white;
    margin-bottom: 15px;
    overflow: hidden;
}
.card-cont > *{
width: 100%;
}
.first-cont{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-top: 5px;
   
}

.imageContainer{
    position: relative;
    width: 30px;
    height: 30px;
}

.status{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
}
.second-cont{
    font-size: 18px;
    font-weight: bold;
    
}
.user-image{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


.third-cont{
    display: flex;
    margin-top: 20px;
    
}
.img-cont{
    width: 25px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid rgb(187, 186, 186);
    margin-left: 8px;
    margin-right: 4px ;
    margin-bottom: 5px;
    border-radius: 10px;
}
.feature-image{
    width: 20px;
    height: 20px;
}
.featureDot{
    position: absolute;
    width:15px ;
    height: 15px;
    border-radius: 50%;
    left: 3px;
    top: 7px;

    background-color: silver;
}
.text-cont{
    position: relative;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 10px;
    padding: 4px 10px 1.5px 20px;
    margin-bottom: 5px;
}